.cocktail {
    max-width: 1470px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.cocktail__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cocktail img {
    width: 360px;
}

.cocktail h2 {
    margin-top: 52px;
    font-weight: 700;
    font-size: 80px;
    line-height: 80%;
    text-align: center;
    color: #000;
    margin-bottom: 49px;
}