.refer h6 {
    padding-top: 154px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 18px;
}

.refer h2 {
    font-weight: 700;
    font-size: 80px;
    line-height: 80%;
    text-align: center;
    color: #fff;
    margin-bottom: 51px;
}

.refer h5 {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #fff;
    margin-bottom: 159px;
}
.refer {
    height: 480px;
    background-image: url('../image/refer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}