* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}



.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
.error h1 {
    color: rgb(0, 4, 255);
    text-align: center;
    margin-top: 15px;
}